/*----------- inicio navbar ----------- */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
  }
  
  
  .logo {
    position: absolute; /* Posiciona o logo à esquerda */
    left: 20px; /* Ajuste conforme necessário */
  }
  
  .nav-links {
    display: block; /* Mude de flex para block */
    margin: 0 auto; /* Centraliza os itens */
    text-align: center; /* Alinha o texto ao centro */
  }
  
  .nav-links li {
    display: inline; /* Mantenha os itens na mesma linha */
    margin: 0 20px; /* Adicione margens laterais conforme necessário */
  }
  
  nav button {
    position: absolute; /* Posiciona o botão à direita */
    right: 20px; /* Ajuste conforme necessário */
    width: 6rem;
    height: 2.5rem;
    background-color: #3126FF;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    top: 1.75%;
  }
  
  
  nav button:hover {
    background-image: linear-gradient(to right, #3126FF 0%, #0a065f 51%, #3126FF 100%);
    transition: background-position 1.5s;
    background-size: 200% auto;
  }
  
  
  ul {
      list-style: none;
      display: flex;
      justify-content: center; /* Certifica-se que a lista de itens está centralizada */
      align-items: center;
  }
  
  li a {
      text-decoration: none;
      font-weight: 500;
      font-family: 'Inter', sans-serif;
      color: black;
  }
  .nav-links li a {
    text-decoration: none; /* Remove o sublinhado do link */
    transition: color 0.1s; /* Animação suave na mudança de cor */
  }
  
  .nav-links li a:hover {
    color: #3126FF; /* Cor ao passar o mouse */
  }
  
  .active a {
    color: #3126FF; /* Cor do link ativo */
  }
  